.blur {
    filter: blur(3px);
}

.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.outline {
    -webkit-text-stroke: 1px black;
}


.seperator-lg {
    border-bottom: solid 20px #212529;
}

.seperator-m {
    border-bottom: solid 10px #212529;
}

.seperator-s {
    border-bottom: solid 5px #212529;
}


.wrapper {
    position: relative;
  }

.absolute-pos-carousel-title {
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: 1rem;
  }

.absolute-pos-benefits {
    position:absolute;
    z-index: 1;
    top: 22.5rem;
}

.carousel-title-pos {
    top: 4rem;
    left: 1rem;
}

.height-500 {
    height: 500px;
}

.fit-parrent {
    object-fit: cover;
    max-height: 500px;
    max-width: 100%;
}
